---
const { workWithUs, stats, button } = Astro.props;
---

<section class="custom-container flex lg:flex-row flex-col gap-6">
    <div
        data-aos="zoom-in"
        data-aos-duration="1000"
        class="lg:w-2/6 w-full flex justify-center rounded-lg flex-col items-center text-center bg-secondary pt-4 px-4"
    >
        <h3 class="text-4xl text-white font-semibold">{workWithUs.title}</h3>
        <p class="text-white mb-2 opacity-50">{workWithUs.description}</p>
        <img src={workWithUs.imageSrc} alt="" />
    </div>
    <div
        data-aos="zoom-in"
        data-aos-duration="1000"
        class="flex justify-around md:flex-row flex-col items-center px-4 py-6 lg:py-0 rounded-lg bg-[#F6F6F6] lg:w-2/3"
    >
        <div>
            <h2 class="text-primary text-7xl font-semibold mb-2">
                {stats[0].value}
            </h2>
            <p class="text-paraColor text-center uppercase">
                {stats[0].description}
            </p>
        </div>
        <div class="mb-12 md:mb-0">
            <h2 class="text-secondary text-7xl font-semibold mb-2">
                {stats[1].value}
            </h2>
            <p class="text-paraColor text-center uppercase">
                {stats[1].description}
            </p>
        </div>
        <div>
            <a
                href={button.link}
                class="bg-primary whitespace-nowrap rounded-[10px] py-3 px-8 text-xl font-semibold text-white"
            >
                {button.title}
            </a>
        </div>
    </div>
</section>
